<h1>Hello</h1>

<%= data[0].interest %>
<%= data[0].eventName %>
<%= data[0].startTime %>
<%= data[0].endTime %>
<%= data[0].weekday %>
<%= data[0].address %>
<%= data[0].venueDescription %>
<img src="<%= data[0].photo %>">
<%= data[0].ticketLink %>