<div>
	<% data.forEach(function(event){ %>
	<div class="event-section">
		<div class="event-text container">
			<h2><%= event.eventName %></h2>
			<p>@<%= event.venueName %> <%= event.startTime %> <%= event.weekday %></p>
		</div>
		<div class="price container">
			<p><%= event.price %></p>
		</div>
		<a href="/<%=event.id%>"><img src="<%= event.photo %>" alt="" class="image"></a>
	</div>
	<% }) %>
</div>
