<img src="https://lh5.googleusercontent.com/mYylSZ2qG4nwGhJoNpWU1dIft7IvERRdv7YuXh3a6yipTwdrCDxo_9qkVPtSY5jBoGaYMreKzlSxiNA=w2536-h1175" alt="">

<div>
	<% data.forEach(function(event){ %>
	<div class="event-section">
		<div class="event-text container">
			<h2><%= event.eventName %></h2>
			<p>@<%= event.venueName %> <%= event.startTime %> <%= event.weekday %></p>
		</div>
		<div class="price container">
			<p><%= event.price %></p>
		</div>
		<img src="<%= event.photo %>" alt="" class="image">
	</div>
	<% }) %>
</div>
